# Node.js / React
node_modules/
build/
.env

# Python / Flask
venv/
__pycache__/
instance/
*.pyc
scripts
config/credentials.json
config/token.json
scripts/
config/credentials.json
config/token.json
check_finetune.py
